<div class="panel panel-default">
  <div class="panel-body">
    <p><%= link_to "#{ticket.question}", ticket_path(ticket) %></p>
    <p><%= link_to "#{ticket.user.name}", ticket.user %></p>
  </div>
</div>
