<div class="row">
  <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        show
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Open Tickets</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Closed Tickets</a></li>
      </ul>
    </div>
    <div class="text-center">
      <div id="raven" class="text-center">
      </div>
      <br>
        <%= link_to "Ask For Help", new_ticket_path, id: "new_ticket_link", class: "btn btn-lg btn-primary", remote: true %>
    </div>
    <hr>
    <div id="tickets_list">
      <%= render @tickets %>
    </div>
  </div>
</div>
